.u-section-1 .u-sheet-1 {
  min-height: 98px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  align-self: center;
  margin: 36px auto 0 527px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: -26px auto 0 351px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  align-self: center;
  margin: -26px auto 36px 733px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 311px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 301px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 242px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 81px;
    margin-left: 455px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 128px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 128px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 128px;
  }
}.u-section-2 {
  background-image: url("images/l7bvcy58miw11.gif");
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 197px;
  }
}